@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


.aboutWrapperBody {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .aboutBanners {
    width: 90%;
    padding: 20px 20px 3rem 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .aboutUsHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    background: linear-gradient(90deg, #007cf0 10.73%, #00dfd8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
  }
  .aboutUsHeading h1{ 
      box-shadow: 0px 15px 10px -15px #979494; 
  }
  
  .aboutUsPara {
    width: 100%;
    padding: 10px;
    color: rgb(82, 82, 81);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.cardsss {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
@media(max-width:605px){
    .aboutBanners {
        width: 100% ;
    }
}