.navList li{
    color: white;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid grey;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    height: 2.4rem;
    box-shadow: rgba(4, 4, 4, 0.35) 0px 5px 15px;
    padding-left: 2rem;
}
.scrollings{
    position: sticky;
    overflow-y: scroll;
}

.navList span{
    margin-left: .2rem;
}
.fixed {
    position: fixed;
  }

@media(max-width:605px){
    .aside{
        display: none;
    }
    .expanded{
        display: block;
        position: absolute;
        z-index: 80;
    }
}